<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container mt-4">
        <form action="/user/signup" method="post">
          <div class="mb-3">
            <label for="fullname" class="form-label">FullName</label>
            <input type="text" name="fullname" class="form-control" id="fullnanme" aria-describedby="fullname">
          </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" name="email" class="form-control" id="email" aria-describedby="email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form> 
    </div>


    <%- include('./partials/scripts.ejs') %>
</body>
</html>